lupify-gui/virtualenv/
lupify-gui/lupify/lupify/lupify.db
lupify-gui/lupify/lupify/__pycache__
lupify-gui/venv/
lupify-gui/old/
lupify-gui/configs/*.pem
lupify-gui/freeipa-container/
lupify-gui/lupify/__pycache__/

